article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
/* 1 */

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* VARIABLES */

@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Montserrat|Raleway&display=swap');
:root {
  --main-font: 'Montserrat';
  --secondary-font: 'Raleway';
  --logo-font: 'Bungee Shade';
  --nav-color: #c53211;
  --background-color: #e6dbc9;
  --footer-color: #2e3830;
  --news-box-color: #eceaea;
}

/* GENERAL STYLING */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: var(--background-color);
  font-size: 1.8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

/*HEADER */

header {
  background: var(--nav-color);
  color: var(--background-color);
  box-shadow: 0px 0px 3px #464545, 0px 0px 3px #535353;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-family: var(--logo-font);
  color: #fff;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  font-size: 7rem;
}

.nav-menu li {
  font-size: 1.4rem;
  font-weight: 100;
  padding: 10px;
  margin-right: 40px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  transition: 0.2s;
}

.nav-menu li:last-of-type {
  margin-right: 0;
  margin-left: 40px;
}

.nav-menu li:hover {
  cursor: pointer;
  color: var(--footer-color);
  scale: 1.1;
}

.nav-menu li:active {
  scale: 0.9;
}

.sub-menu {
  width: 100%;
  background: var(--footer-color);
  box-shadow: 0px 1px 2px #464545, 0px 0px 3px #535353;
  font-size: 1.3rem;
  overflow: hidden;
}

.sub-menu ul {
  margin: 0;
}

.sub-menu li {
  padding: 5px 10px;
  transition: 0.2s;
  font-weight: 100;
}

.sub-menu li:hover {
  color: var(--nav-color);
  cursor: pointer;
  scale: 1.1;
}

.sub-menu li:active {
  scale: 0.9;
}

.categories, .countries {
  display: flex;
  justify-content: space-around;
  color: var(--background-color);
  text-transform: uppercase;
}

/* MAIN SECTION */

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 30px;
}

.img-container {
  width: 100%;
  height: 150px;
}

main h2 {
  display: inline-block;
  background: var(--news-box-color);
  box-shadow: 0px 0px 5px #464545, 0px 0px 5px #535353;
  border-radius: 4px;
  padding: 10px;
  font-family: var(--secondary-font);
  font-weight: 900;
  text-align: center;
}

h3 {
  font-family: var(--main-font);
  font-weight: 700;
}

p {
  font-family: var(--secondary-font);
  line-height: 1.7rem;
  font-size: 1.5rem;
}

p:last-of-type {
  font-size: 1rem;
  font-weight: 600;
}

.articles-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

/* MASONRY CSS STARTS HERE*/

.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid-column {
  padding-left: 30px;
  /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid-column>div {
  margin-bottom: 30px;
}

/* MASONRY CSS ends HERE*/

.single-news-container {
  background: var(--news-box-color);
  box-shadow: 0px 0px 5px #464545, 0px 0px 5px #535353;
  border-radius: 4px;
  position: relative;
  z-index: 999;
  margin: 10px 0px 10px;
  padding: 10px;
  font-size: 1.3rem;
  transition: 0.2s;
  word-wrap: break-word;
}

.single-news-container:hover {
  background: #fff;
  scale: 1.03;
  z-index: 999;
  cursor: pointer;
}

.remove-post {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: rgba(225, 225, 225, 0.4);
  top: 10px;
  right: 10px;
  padding: 3px 3px 1px;
  border-radius: 50%;
  font-size: 2rem;
}

.fa-times-circle:hover {
  color: rgba(230, 219, 201, 10);
  cursor: pointer;
  transition: 0.2s;
}

.fa-times-circle:active {
  color: var(--nav-color);
}

/* FOOTER */

footer {
  background-color: var(--footer-color);
  color: var(--background-color);
  text-align: center;
}

footer p {
  margin: 0;
  padding: 10px 0;
}

/* MOBILE STYLES */

@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
  h1 {
    font-size: 5rem;
  }
  .categories, .countries {
    flex-wrap: wrap;
  }
}